{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Primary Meta Tags -->
    {% block title %}{% endblock %}
    <meta name="title" content="Jojo's Not So Bizarre Adventure">
    <meta name="description" content="A full stack developer based in Tangerang who tries to beat Dio. Find out how I beat him using the power of coding and Star Platinum!">
    <link rel="icon" href="{% static 'home/images/j.png' %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://jojostory4.herokuapp.com/">
    <meta property="og:title" content="Jojo's Not So Bizarre Adventure">
    <meta property="og:description" content="A full stack developer based in Tangerang who tries to beat Dio.">
    <meta property="og:image" content="{% static 'home/images/kamaba.jpg' %}">

    <!-- Bootstrap CSS and Scripts -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

    {% block css %}{% endblock %}
</head>

<body>
    {% if type == "index" %}
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
        <a class="navbar-brand" href="#"><img id="icon" src="{% static 'home/images/j.png' %}">ojo's Adventure</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- empty-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#experience">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home:extras' %}">Extras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'story1:index' %}">Story 1</a>
                </li>
            </ul>
        </div>
    </nav>

    {% elif type == "extras" %}
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
        <a class="navbar-brand" href="{% url 'home:index' %}"><img id="icon" src="{% static 'home/images/j.png' %}">ojo's Adventure</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home:index' %}">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home:index' %}">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home:index' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Extras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'story1:index' %}">Story 1</a>
                </li>
            </ul>
        </div>
    </nav>

    {% elif type == "story1" %}
    <nav class="navbar navbar-expand-lg navbar-light navbar-custom fixed-top">
        <a class="navbar-brand" href="{% url 'home:index' %}"><img id="icon" src="{% static 'home/images/j.png' %}">ojo's Adventure</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home:index' %}">Skills</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home:index' %}">Experience</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home:index' %}">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home:extras' %}">Extras</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#">Story 1</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endif %}

    {% block content %}
    {% endblock %}

    <footer class="page-footer font-small">
        <div class="footer-copyright text-center py-3">
            Made by Jojo, 2020
        </div>
    </footer>
</body>
</html>