{% extends "home/base.html" %}
{% load static %}

{% block title %}
	<title>Story 1 - Jojo's Adventure</title>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="{% static 'home/style.css' %}">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
{% endblock %}
	
{% block content %}
	<div id="home" class="container">
		<h1 class="text-center">Hi! I'm JONATHAN AMADEUS HARTMAN</h1>
		<div class="row">
			<div class="col-md-4">
				<img id="pose" class="img-fluid rounded-circle" src="{% static 'story1/images/foto_maungid_crop.jpg' %}" alt="me posing">
			</div>
			<div class="col-md-8">
				<h2>Profile</h2>		
				<table class="table">
					<tr>
						<th scope="row">DOB</th>
						<td>Tangerang, 9 June 2001</td>
					</tr>
					<tr>
						<th scope="row">Student ID</th>
						<td>1906400261</td>
					</tr>
					<tr>
						<th scope="row">Batch</th>
						<td>Maung 2019</td>
					</tr>
					<tr>
						<th scope="row">Hobby</th>
						<td>video games, table tennis</td>
					</tr>
					<tr>
						<th scope="row">Interest</th>
						<td>web development, linguistics, music, anime</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	
	<div class="container">
		<h2>A Tiny Description of Myself</h2>
		<div class="row m-1">
			<p class="lead">
				Hello there. My name is Jojo and I like coding. In my leisure time, I usually do all of my stuffs on bed. 
				I love trying new things even though I'm not very good at it.
			</p>
		</div>
		<div class="row m-1">
			<p class="lead">
				Wielding the incredibly powerful Star Platinum, he is the first JoJo introduced with a Stand, and is among 
				the most well-known characters of the series.
			</p>
		</div>
		<div class="row m-1">
			<p class="lead">
				By the way, I've learned enough Bootstrap that this page looks way cooler. You can see the legacy version
				of this page <a href="http://jojostory1.herokuapp.com">here</a>.
			</p>
		</div>
	</div>

	<div class="container">
		<h2>Educational Background</h2>
		<div class="row m-1">
			<table class="table">
				<tr>
					<th>YEAR</th>
					<th>INSTITUTE</th>
				</tr>
				<tr>
					<td>2019-present</td>
					<td>Universitas Indonesia</td>
				</tr>
				<tr>
					<td>2016-2019</td>
					<td>SMAK Penabur Gading Serpong</td>
				</tr>
				<tr>
					<td>2013-2016</td>
					<td>SMPK Penabur Gading Serpong</td>
				</tr>
				<tr>
					<td>2007-2013</td>
					<td>SDK Menara Tirza</td>
				</tr>
			</table>
		</div>
	</div>

	<div class="container">
		<h2>Contact Me</h2>
		<div class="row m-1">
			<div class="col d-flex flex-column">
				<p>Here's some links to my accounts. Feel free to ask anything! :)</p>
				<ul>
					<li><a href="https://www.linkedin.com/in/jonathan-amadeus-hartman" target="_blank">LinkedIn</a></li>
					<li><a href="https://gitlab.com/HardJoe" target="_blank">GitLab</a></li>
					<li><a href="https://instagram.com/jonathan_ama" target="_blank">Instagram</a></li>
					<li><a href="https://twitter.com/Jonathan_Ama" target="_blank">Twitter</a></li>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}