html {
    scroll-behavior: smooth;
}

.navbar-custom, .page-footer { 
    background-color: #B9BFFF; 
}

#icon {
    width: 25px;
    height: 25px;
}

h2, h3, h4, h5 {
    text-align: center;
}

h2::before { 
    display: block; 
    content: " "; 
    margin-top: -80px; 
    height: 80px; 
    visibility: hidden; 
    pointer-events: none;
}

#kamaba {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

#home {
    background-color: #DCF7FF;
    margin-top: 5rem !important; 
}

.container {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
    background-color: #B9BFFF; 
    border-radius: 15px;
}

.row {
    background-color: #DCF7FF; 
    padding: 0.5em;
    border-radius: 15px;
}

.text-justify {
    text-align: justify;
}

.contact img {
    width: 70%;
    height: 70%;
}

.education .row, .contact .row {
    justify-content: center;
}

.education img {
    width: 200px;
    height: 200px;
}

#penabur {
    width: 150px;
    height: 200px;
}

.contact img {
    width: 100px;
    height: 100px;
}

.img-thumbnail {
    background-color: #DCF7FF;
    border: 0px;
}